* {
  padding: 0;
  box-sizing: border-box;
  font-family: "sans";
}

@font-face {
  font-family: "sans";
  src: url(font/sans.ttf);
}

body {
  padding-top: 150px;
  width: 510px;
  margin: 0 auto;
  background-color: #19172e;
  color: white;
}

h3 {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'Rampart One', cursive;
  color: cornflowerblue;
}

textarea {
  width: 100%;
  height: 300px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: -59px 0px;
}

textarea:hover {
  border-color: #c0c0c0;
}

textarea:focus {
  border-color: #4d90fe;
}

.output.row {
  padding: 80px;
  font-size: 1.3rem;
}

.output.row div {
  text-align: center;
}

footer {
  position: absolute;
  text-align: center;
  font-size: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  padding: 5px;
  line-height: 3vh;
}

footer a:visited {
  color: inherit;
}
.mass{
  margin: -133px -65px;
  float: right;
  /* padding: -4px 3px; */
  font-size: 22px;
  font-family: 'Rampart One', cursive;
}
@media screen and (max-width: 668px) {
  h3 {
    position: absolute;
    font-size: 22px;
    text-align: center;
    padding: 2px 2xp;
    padding: -13px 28px;
    margin: 40px;
  }
  textarea {
    width: 92%;
    height: 300px;
    font-size: 30px;
    padding: 2px 2px;
    margin: -50px 19px
  }
  .output.row {
    font-size: 31px;
  }
  .mass{
    font-size: 18px;
    text-align: center;
    justify-content: center;
    margin: -41px 184px;   
  }
}
